[submodule "external/Detours"]
	path = external/Detours
	url = git@github.com:microsoft/Detours.git
[submodule "external/lrdb"]
	path = external/lrdb
	url = git@github.com:satoren/LRDB.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
